h1
{
    color: blueviolet;
}

body
{
  background-color: bisque;
}

header{
    text-align: center;
}

main{
    text-align: center;
}

#SubTitulo{
    color: salmon;
}

#MIS-GUSTOS{
    color: red;
}

#TextoMisGustos{
    color: darkmagenta;
}

#Contenido{
    color: darkmagenta;
}

h3{
    color: blueviolet;
}